;; Data structure expected to be gleaned from record.xml
{:common-name "automobile"
 :parts [{:qty 4
          :common-name "door"
          :parts [{:qty 1
                   :common-name "window crank"
                   :parts [{:qty 1
                            :common-name "knob"}
                           {:qty 1
                            :common-name "arm"}]}]}]}
