;; See sample_configuration.clj.

[
 {:path "thing"
  :create {:props {:common-name {}, 
                   :parts       {:multi true}}
           :eject true}}

 {:path "common-name" 
  :text-value {:assign :common-name}}

 {:path "part/parts/part/parts/part/parts/part"
  :prune true}

 {:path "part"
  :create {:props {:qty         {}, 
                   :common-name {}, 
                   :parts       {:multi true}}
           :complete-by complete-part 
           :assign :parts}
  :atts {"qty" {:assign :qty}}}
 ]
